.product-container {
    display: flex;
    align-items: flex-start;
  }
  
  .product-image {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    flex: 1;
  }
  
  .product-title-container {
    display: flex;
    align-items: flex-start;
  }
  
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .brand {
    font-weight: bold;
    margin-left: 10px;
    color: #777;
  }
  
  .product-price {
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 24px;
  }
  .add-one-button {
    padding: 8px 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #dee1e4;
    color: #0e0101dc;
    cursor: pointer;
  }

  .add-minus-one-button {
    margin-bottom: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #dee1e4;
    color: #0e0101dc;
    cursor: pointer;
  }
  .product-actions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-to-cart,
  .wishlist {
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-to-cart {
    background-color: orange;
    color: #fff;
    margin-right: 10px;
    padding: 16px 24px;
  }
  
  .wishlist {
    background-color: #f8f9fa;
    color: #212529;
    padding: 16px 24px;
  }
  
  .section-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .description-text {
    margin-bottom: 10px;
  }
  